<div class="big_waku">
    <div class="shasin_wakus">
    <h1>post_images index</h1>
        <div class="shasin_waku">
            <% @post_images.each do |post_image| %>
                <%= attachment_image_tag post_image, :image %>
                <%#<%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb"%>
                <%= link_to post_image_path(post_image.id) do %>
                    <%= attachment_image_tag post_image, :image %>
                <% end %>

                <%= post_image.caption %>
                <%= post_image.user.name %>

                <%= link_to "コメント", post_image_path(post_image.id) %>
            <% end %>
        </div>

    </div>
</div>