<div class="big_waku">
    <div class="shasin_wakus">
    <h1>post_images index</h1>
        <div class="shasin_waku">
            <% @post_images.each do |post_image| %>
                <%= attachment_image_tag post_image, :image, :fill, 200, 200 %>
                <%= link_to post_image_path(post_image.id) do %>
                    <i class="fa fa-map-marker"></i><%= post_image.shop_name %>
                <% end %>

                <%= post_image.caption %>
                <%= post_image.user.name %>

                <%= link_to "コメント", "#" %>
            <% end %>
        </div>

    </div>
</div>